<div class="p-5 flex flex-col justify-center">
  <div class="flex-center flex-col my-6">
    <div class="font-semibold text-6xl text-primaryGray mb-6">
      Publish your passions, your way.
    </div>
    <div
      class="rounded-full flex items-center justify-center p-2 w-8 h-8 bg-primaryColor ml-6"
    >
      <p class="p-3" style="margin: 0">{{ getInitials(username) }}</p>
    </div>
    <div class="text-xl font-medium mb-10">
      Create a unique and beautiful blog. It's easy and free.
    </div>
    <div class="flex-center py-4 px-8 mb-10 text-3xl cursor-pointer">
      <app-button
        (onButtonCLicked)="openCreateBlogDialog()"
        ctaIcon="add_icon"
        ctaText="Create a Blog"
        ctaClass="accent big"
      ></app-button>
    </div>
  </div>
  <div class="flex flex-row w-full flex-wrap justify-around">
    <div *ngFor="let blog of blogsList" class="w-[25%] min-w-[200px]">
      <app-blog
        [title]="blog.title"
        [id]="blog.id"
        [cover]="blog.cover"
        [likeCount]="blog.likeCount"
        [myBlogs]="false"
        [authorId]="blog.authorId"
      ></app-blog>
    </div>
  </div>
</div>
