<div class="flex flex-row min-w-[100vw] ">
  <div class="bg-accentColor min-w-[80vw] h-[100vh] info-container">
    <!-- main page -->
    <div class="flex flex-col gap-14 w-2/3 m-auto mt-32">
      <span class="text-black font-extrabold text-9xl"> Stay Curious. </span>
      <p class="text-black font-normal text-3xl">
        Read and share ideas from independent voices, world-class publications
        and experts from around the globe. Discover stories, thinking and
        expertise from writers on any topic.
      </p>

      <app-button
        ctaText="Sign up now"
        ctaClass="text-lg dark"
        ctaIcon="arrow_right_alt"
        (onButtonCLicked)="onSignUpCLick()"
      ></app-button>
    </div>
  </div>
  <!-- sign up -->
  <div
    class="bg-white min-w-[60vw] h-[100vh] action-container signup-container p-12 flex flex-col"
    [ngClass]="{ 'move-left': isSignUpmoveLeftEnabled }"
  >
    <app-signup (onSignInCLick)="onSignInCLick()"></app-signup>
  </div>
  <!-- sign in -->

  <div
    class="bg-fadedGrey min-w-[60vw] h-[100vh] action-container signin-container p-12 flex flex-col"
    [ngClass]="{ 'move-left': isSignInmoveLeftEnabled }"
  >
    <app-signin (onReturnCLicked)="onReturnCLick()"></app-signin>
  </div>
</div>
