.info-container {
  transition: 1s all;
}

.action-container {
  transition: 1s all;
}
.signup-container.move-left {
  transform: translatex(-40vw);
}

.signin-container.move-left {
  transform: translatex(-100vw);
}
.move-right {
  transform: translatex(40vw);
}
.blackbtn {
  color: white;
  font-weight: 700;
  font-size: xx-large;
}

.greybtn {
  color: black;
  font-weight: 600;
  font-size: x-large;
}

.mat-icon {
  color: white;
  font-size: xx-large;
  padding-right: 40px;
}
